.navbar {
    background-color: white; 
    color: navy; 
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    padding: 10px 10px;
}

.navbar-links {
    color: black;
    justify-content: space-between;
    padding-right: 4px;
    text-decoration: none;
    gap: 28px !important;
}

.navbar-links {
    display: flex;
    gap: 18px;
}

.navbar-links a:hover {
    color: blue; 
}

.Gnet {
    color: black;
    border-radius: 7px;
    font-weight: bold;
    font-size: largest;
}

.Gnet a:hover {
    color: blue;
    transform: translateY(-2px);
}


.menu-toggle {
    display: none; 
    flex-direction: column;
    cursor: pointer;
    border: none;
    background: transparent;
}

.menu-toggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: black; 
    margin: 4px 0;
    transition: 0.3s;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: flex; 
    }

    .navbar-links {
        display: none; 
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px; 
        left: 0;
        background: white; 
    }

    .navbar-links.show {
        display: flex; 
    }
}

.menu-toggle:hover{
    color:navy;
}